.App {
  /* text-align: center; */
  margin: 'auto';
  height: 100vh;
  border: 1px solid lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-wrapper {
  /* background-color: red; */
  height: 60vh;
  /* margin: 10px 20px; */
  filter: drop-shadow(-1px 5px 3px #ccc);
}
.info-wrapper {
  margin-top: 10px;
}
.map-details {
  text-align: center;
  font-size: 12px;
}
.map-details span {
  font-weight: bold;
}
.search-input {
  font-size: 1.2em;
  width: 100%;
}